@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Playwrite+IN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Macondo&family=Playwrite+IN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: black;
    color: white;
}

.event-page{
    width: 100%;
    padding: 20px;
    background-color: black;
    color: white;
}

.card-section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
   
}
.event-card{
    width: 100%;
    box-shadow: 0 0 2px black;
    border-radius: 5px;
    padding: 10px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.103);
    animation: event-card 0.5s ease-in forwards ;
}

/* .event-card:nth-of-type(odd){
    animation: event-card-animation-odd 0.8s ease-in 0.1s forwards ;
}

.event-card:nth-of-type(even){
    animation: event-card-animation-even 1s ease-in 0.1s forwards ;

} */

/* @keyframes event-card-animation-start{
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
} */

@keyframes event-card{
    from{
        scale: 0.9;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}

/* @keyframes event-card-animation-odd{
    from{
        transform: translateX(100px);
        opacity: 0.4;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
} */

/* @keyframes event-card-animation-even{
    from{
        transform: translateX(-100px);
        opacity: 0.4;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
} */

.event-card-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    
   padding: 5px 2px;
}

.event-card-header .new-img{
    height: 100%;
    width: 70px;
}
.new-img{
    height: 50px;
    width: 70px;
}

.edited{
    font-size: 14px;
    padding-right: 10px;
}

.event-title{
    font-size: 24px;
    /* font-weight: 500; */
    color: red;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
}

.event-main-section{
    display: flex;
    gap: 10px;
}
.event-image-section{
    width: 320px;
    height: 200px;
    
    display: flex;
    justify-content: start;
}
.event-image-section img{
    width: 300px;
    height: 250px;
    border-radius: 2px;
}

.event-details-section{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:90%;
}


.description{
    width: 100%;    
    text-align: justify;
}

.card-bottom-section{
    width: 100%;
   
}
.post-actions{
    width: 100%;
    display: flex;
   
    gap: 20px;
    margin-top: 4px;
}

.homepage{
    width: 100%;
}
.banner{
    top: 80px;
    height: 500px;
    width: 90%;
    background-image: url('/Home.png');
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    padding-top: 20px;
    animation: banner .6s ease-in-out ;
}
@keyframes banner{
    from{
        height: 400px;
        width: 80%;
        scale: 0.9;
    }to{
        height: 500px;
        width: 90%;
        scale: 1;
    }
}
.home-welcome{
    letter-spacing: 1.1px;
    text-align: center;
    font-size: 30px;
    animation: welcome 1s ease-in-out;
}

@keyframes welcome{
    from{
        transform: scaleX(0.9);
    }
    to{
        transform: scaleX(1);
    }
}

.banner-content{
    width: 900px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(216, 216, 216, 0.267);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    gap: 4px;
}

.actions button{
    animation: button 2s ease-in-out 0.2s infinite forwards ;
}

@keyframes button{
    0%{
        scale: 0.9;
        
    }
    25%{
        
    }
    50%{
        scale: 1;
        
    }
    75%{
        
    }
    100%{
        scale: 0.9;
        
    }
}

.panel{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.dash-main{
    display: flex;
    gap:10px;
}
.dashboard-card{
    height: 100%;
    width: 250px;
    
}

.card-text{
    font-size: 20px;
}
.Image-div img{
    height: 170px;
    width: 100%;
    border-radius: 50%;
}

.dashboard-card{
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 25px;
    margin-right: 20px;
}

.dashboard-card-total{
    width: 180px;
    height: 180px;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 25px;
    margin-right: 50px;
}

.profile-card{
    width: 300px;
    height: 400px;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.128);
    border-radius: 10px;
}
.profile{
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.profile img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.left1-content{
    background-color: rgba(255, 255, 255, 0.066);
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
}


.bulb{
    animation: bulb 0.7s ease-in-out 0.2s infinite forwards;
}

@keyframes bulb{
    0%{
        scale: 0.9;
    }
    50%{
        scale: 1;
    }
    100%{
        scale: 0.9;
    }
}

.book{
    margin-top: 60px;
    animation: book 02s ease-in-out 0.2s infinite forwards;
}

@keyframes book{
    0%{
        
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        
        transform: translateY(-50px);
    }
}

.footer{
    background-color: rgba(255, 255, 255, 0.215);
}

.imgAnimation{
    animation: img 0.7s ease-in-out 0.1s forwards;
}
.head{
    animation: head 0.7s ease-in-out forwards;
}
.para{
    animation: head 0.7s ease-in-out forwards;
}
@keyframes para{
    0%{
        transform: translateX(-50px);
    }
   
    100%{
        transform: translateX(0px);
    }
}
@keyframes head{
    0%{
        transform: translateY(-50px);
    }
   
    100%{
        transform: translateY(0px);
    }
}
@keyframes img{
    0%{
        transform: translateX(0px);
    }
    
    100%{
        transform: translateX(-50px);
    }
}